In [ ]:
# installing packages
pip install pandas
pip install openpyxl
pip install sqlalchemy
pip install pymysql

In [ ]:
# importing packages
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.dialects.mysql import DOUBLE
from sqlalchemy.types import Integer, String, Text

In [ ]:
# path setting
subgrouping_info_path = "/home/hashjamm/codes/disease_network/"
db_migration_path = "/home/hashjamm/results/disease_network/db_migration/"
pids_info_path = "/home/hashjamm/results/disease_network/"

In [ ]:
# loading data
supple_info_1 = pd.read_excel(f'{subgrouping_info_path}network_supplement_subgrouping.xlsx', sheet_name='Sheet1')
supple_info_2 = pd.read_excel(f'{subgrouping_info_path}network_supplement_subgrouping.xlsx', sheet_name='Sheet2')
edge_stat = pd.read_csv(f"{db_migration_path}edge_stat.csv")
edge_attr = pd.read_csv(f"{db_migration_path}edge_attr.csv")
node_info = pd.read_csv(f'{pids_info_path}node_pids_info.csv')
node_base = node_info[['node_code', 'width', 'height', 'Korean', 'English']]

/tmp/ipykernel_48053/240116697.py:4: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  edge_attr = pd.read_csv(f"{db_migration_path}edge_attr.csv")

In [ ]:
# data exploration

In [4]:
supple_info_1.head()

,group_num,disease_name,related_body_part,related_ingre
0,1,비알코올성 지방간(NAFLD/NASH),간,"오메가-3, 비타민 E, 실리마린"
1,2,"고LDL콜레스테롤혈증, 고중성지방혈증",간·혈관·혈장 지질,"식물스테롤, 베타-글루칸, 적효모쌀*, 오메가-3(EPA/DHA)"
2,3,근감소증(노쇠 관련),골격근,"유청단백, 류신, 비타민 D"
3,4,골관절염,관절(연골),"글루코사민, 콘드로이틴"
4,5,류마티스관절염,관절·면역,오메가-3

In [5]:
supple_info_2.head()

  code  group_num
0  K75          1
1  K76          1
2  E78          2
3  M62          3
4  M17          4

In [6]:
edge_stat

,fu,cause_abb,outcome_abb,ct00,ct01,ct10,ct11,rr_values,rr_lower_cis,rr_upper_cis,log_rr_values,chisq_values,chisq_p_values,fisher_p_values,adjusted_chisq_p_values,adjusted_fisher_p_values
0,1,N96,Z34,119,11,7,19,3.400000,1.801018,6.418592,1.481605,54.154286,1.853492e-13,1.662959e-11,4.989345e-12,4.193596e-10
1,1,O21,Z34,1368,162,158,148,1.731646,1.551574,1.932616,1.004904,256.638693,9.272970e-58,2.055706e-47,1.813447e-55,3.613541e-45
2,1,O20,Z34,4388,517,508,473,1.727559,1.625097,1.836481,1.003407,826.735127,8.307710e-182,1.130926e-147,1.065910e-178,1.242073e-144
3,1,O98,Z34,84,6,11,7,1.527273,1.052162,2.216923,0.927141,11.823158,5.849856e-04,1.061854e-03,3.726498e-03,6.625912e-03
4,1,Z33,Z34,111,9,15,9,1.480000,1.081106,2.026073,0.908259,13.828571,2.002676e-04,4.235557e-04,1.467193e-03,3.017219e-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
734455,10,K58,O73,95293,17,19051,11,1.000399,1.000047,1.000751,0.693347,8.752143,3.092385e-03,3.654377e-03,1.667506e-02,1.962555e-02
734456,10,B37,O73,46328,27,9257,14,1.000929,1.000107,1.001752,0.693612,7.810635,5.193965e-03,5.536740e-03,2.580218e-02,2.762878e-02
734457,10,A09,G35,143297,8,28654,7,1.000188,1.000003,1.000374,0.693241,7.680670,5.581544e-03,6.601191e-03,2.737484e-02,3.183133e-02
734458,10,Z34,P59,45789,21,9146,16,1.001290,1.000411,1.002170,0.693792,16.962768,3.812007e-05,1.297095e-04,3.385088e-04,1.072318e-03
734459,10,H65,Q35,73201,14,14634,9,1.000424,1.000010,1.000838,0.693359,6.819176,9.018415e-03,8.593762e-03,4.065400e-02,3.929210e-02

In [34]:
edge_attr

,fu,cause_abb,outcome_abb,attribute_1,value_1,attribute_2,value_2,count
0,1,J46,J20,sex,1,NaN,NaN,103
1,1,T08,J20,sex,1,NaN,NaN,1
2,1,I13,J20,sex,1,NaN,NaN,42
3,1,I11,J20,sex,1,NaN,NaN,178
4,1,E14,J20,sex,1,NaN,NaN,218
...,...,...,...,...,...,...,...,...
48897304,10,L50,F39,sex,1,age,18.0,1
48897305,10,I10,F39,sex,1,age,18.0,1
48897306,10,R10,K51,sex,1,age,18.0,1
48897307,10,L28,L80,sex,1,age,18.0,1
48897308,10,B35,L80,sex,1,age,18.0,1

In [39]:
node_base

,node_code,width,height,Korean,English
0,J03,1.000000,1.000000,급성 편도염,Acute tonsillitis
1,J20,0.999158,0.999158,급성 기관지염,Acute bronchitis
2,J06,0.998315,0.998315,다발성 및 상세불명 부위의 급성 상기도 감염,Acute upper respiratory infections of muitiple...
3,J02,0.997473,0.997473,급성 인두염,Acute pharyngitis
4,J00,0.996630,0.996630,급성 비인두염[감기],Acute nasopharyngitis[common cold]
...,...,...,...,...,...
1182,T37,0.014322,0.167650,기타 전신성 항감염제 및 항기생충제에 의한 중독,Poisoning by other systemic antiinfectives and...
1183,T54,0.038753,0.109520,부식물질의 독작용,Toxic effect of corrosive substances
1184,T75,0.014322,0.167650,기타 외인의 영향,Effects of other extenal causes
1185,T94,0.076664,0.085088,다발성 및 상세불명의 신체 부위를 침범한 손상의 후유증,Sequelae of injuries involving mulitple and un...
1186,T98,0.014322,0.167650,기타 및 상세불명 외인 영향의 후유증,Sequelae of other and unspecified effects of e...

In [17]:
supple_target_code_list = supple_info_2['code'].unique().tolist()

In [18]:
approxi_rr_result = edge_stat.loc[(edge_stat['cause_abb'].isin(supple_target_code_list)) | (edge_stat['outcome_abb'].isin(supple_target_code_list))]

In [20]:
approxi_rr_result = pd.merge(approxi_rr_result, supple_info_2, how='left', left_on='cause_abb', right_on='code').drop(columns=['code'])
approxi_rr_result.rename(columns={'group_num' : 'cause_group_num'}, inplace=True)

approxi_rr_result = pd.merge(approxi_rr_result, supple_info_2, how='left', left_on='outcome_abb', right_on='code').drop(columns=['code'])
approxi_rr_result.rename(columns={'group_num' : 'outcome_group_num'}, inplace=True)

target_cols = ['cause_group_num', 'outcome_group_num']

# NaN 값을 0으로 채우고, 데이터 타입을 int64로 변환
approxi_rr_result[target_cols] = approxi_rr_result[target_cols].fillna(0).astype('int64')

In [21]:
approxi_rr_result

,fu,cause_abb,outcome_abb,ct00,ct01,ct10,ct11,rr_values,rr_lower_cis,rr_upper_cis,log_rr_values,chisq_values,chisq_p_values,fisher_p_values,adjusted_chisq_p_values,adjusted_fisher_p_values,cause_group_num,outcome_group_num
0,1,B37,Z34,44320,2035,8715,556,1.017097,1.011519,1.022705,0.701659,44.574415,2.448708e-11,8.501198e-11,5.417741e-10,1.978449e-09,39,0
1,1,N94,Z34,5337,348,1021,116,1.045446,1.024042,1.067297,0.715616,24.253486,8.445409e-07,2.152109e-06,1.032530e-05,2.687640e-05,29,0
2,1,J06,Z34,343670,5395,68652,1161,1.001194,1.000143,1.002247,0.693744,5.133705,2.346559e-02,2.312160e-02,7.687195e-02,7.481318e-02,25,0
3,1,E11,Z34,42735,150,8529,48,1.002110,1.000425,1.003799,0.694202,7.674984,5.599159e-03,7.142996e-03,2.476180e-02,3.085088e-02,40,0
4,1,E28,Z34,1585,100,293,44,1.081911,1.036295,1.129535,0.733286,20.470327,6.056290e-06,2.120356e-05,6.341829e-05,2.153533e-04,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221058,10,N76,O71,132233,77,26436,26,1.000401,1.000001,1.000801,0.693348,4.857520,2.752587e-02,2.420738e-02,9.856732e-02,8.777502e-02,39,0
221059,10,F32,F28,19994,6,3987,13,1.002960,1.001170,1.004752,0.694626,33.036680,9.043648e-09,7.494026e-07,1.359507e-07,9.244207e-06,14,0
221060,10,J06,I01,349057,8,69804,9,1.000106,1.000020,1.000192,0.693200,13.600552,2.261190e-04,6.632433e-04,1.697175e-03,4.565295e-03,25,0
221061,10,K58,O73,95293,17,19051,11,1.000399,1.000047,1.000751,0.693347,8.752143,3.092385e-03,3.654377e-03,1.667506e-02,1.962555e-02,21,0
221062,10,B37,O73,46328,27,9257,14,1.000929,1.000107,1.001752,0.693612,7.810635,5.193965e-03,5.536740e-03,2.580218e-02,2.762878e-02,39,0

In [16]:
# DB 접속 정보
db_user = 'migrate_user'
db_pass = 'qkrhd20164231!'
db_name = 'cotdex_db'
host = 'localhost'       # 또는 서버 IP
port = 3306              # 기본 포트

# SQLAlchemy 엔진 생성
engine = create_engine(f"mysql+pymysql://{db_user}:{db_pass}@{host}:{port}/{db_name}?charset=utf8mb4")

# Maria DB에서 root 계정은 auth_socket 설정으로, 외부 접근이 불가 -> 이를 최대한 수정하지 않으려고 노력함
# Maria DB에서 Django 서버에서 CRUD 권한만 부여하여 사용할 cotdex_django_user 계정은 cotdex_db에 CRUD 권한 부여 -> CREATE 불가
# 따라서 임시로 migrate_user 계정을 만들고, cotdex_db에 SELECT, INSERT, UPDATE, DELETE, CREATE, DROP 권한 부여 -> migrate 후 계정 삭제

In [17]:
# 컬럼 타입 매핑
dtype_map_stat = {
    'fu': Integer(),
    'cause_abb': String(10),
    'outcome_abb': String(10),
    'ct00': Integer(),
    'ct01': Integer(),
    'ct10': Integer(),
    'ct11': Integer(),
    'rr_values': DOUBLE(),
    'rr_lower_cis': DOUBLE(),
    'rr_upper_cis': DOUBLE(),
    'log_rr_values': DOUBLE(),
    'chisq_values': DOUBLE(),
    'chisq_p_values': DOUBLE(),
    'fisher_p_values': DOUBLE(),
    'adjusted_chisq_p_values': DOUBLE(),
    'adjusted_fisher_p_values': DOUBLE(),
    'cause_group_num': Integer(),
    'outcome_group_num': Integer()
}

In [18]:
approxi_rr_result.to_sql(
    name='supple_approxi_rr_result',
    con=engine,
    if_exists='replace',   # 또는 'append'
    index=False,
    dtype=dtype_map_stat
)

221063

In [ ]:
# Data validation

In [ ]:
# target nodes selection
# 비만, 당뇨, 고혈압, 고치혈증 : 서로서로 연관 가능성이 있음 -> 서로서로의 네트워크 확인 필요
# 추가 확인 : 관절, 노쇠(당뇨병성 망막증)

In [ ]:
# target nodes selection 함수를 일단 만들어 둠

In [55]:
def target_selection_by_keyword(keyword, node_base = node_base):
    return node_base[node_base['Korean'].str.contains(keyword)]['node_code'].tolist()

In [62]:
print(target_selection_by_keyword('당뇨'))
print(target_selection_by_keyword('고혈압'))
print(target_selection_by_keyword('비만'))
print(target_selection_by_keyword('지질'))

['E11', 'E14', 'E10', 'E13', 'R81', 'E12', 'O24']
['I10', 'I11', 'I13', 'I15', 'I12', 'O12', 'O14', 'O10']
['E66']
['E78', 'E75']

In [ ]:
target_nodes = target_selection_by_keyword('당뇨')
edge_stat.loc[((edge_stat['cause_abb'].isin(target_nodes)) & (edge_stat['outcome_abb'].isin(target_nodes)))].sort_values(by='rr_values', ascending=False)

,fu,cause_abb,outcome_abb,ct00,ct01,ct10,ct11,rr_values,rr_lower_cis,rr_upper_cis,log_rr_values,chisq_values,chisq_p_values,fisher_p_values,adjusted_chisq_p_values,adjusted_fisher_p_values
642819,10,E10,E11,5061,1299,198,1074,5.112121,4.495248,5.813647,1.810274,2024.087752,0.000000,0.000000,0.000000,0.000000
552531,9,E10,E11,5123,1237,205,1067,4.998049,4.406552,5.668942,1.791434,2085.112437,0.000000,0.000000,0.000000,0.000000
463878,8,E10,E11,5191,1169,221,1051,4.697738,4.164818,5.298848,1.740069,2117.953178,0.000000,0.000000,0.000000,0.000000
377319,7,E10,E11,5304,1056,232,1040,4.572414,4.068086,5.139263,1.717828,2255.752558,0.000000,0.000000,0.000000,0.000000
294314,6,E10,E11,5380,980,248,1024,4.338710,3.878380,4.853677,1.674984,2316.261525,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639655,9,E11,O24,42847,38,8556,21,1.001566,1.000479,1.002654,0.693930,13.900683,0.000193,0.000366,0.001444,0.002667
550414,8,E11,O24,42854,31,8558,19,1.001496,1.000466,1.002527,0.693895,14.898475,0.000113,0.000358,0.000876,0.002553
291047,5,E11,O24,42868,17,8561,16,1.001472,1.000537,1.002408,0.693883,21.832182,0.000003,0.000023,0.000030,0.000208
680262,10,E11,O24,42831,54,8555,22,1.001309,1.000184,1.002436,0.693802,7.403038,0.006511,0.007903,0.031118,0.036751
136728,3,E11,O24,42875,10,8564,13,1.001284,1.000447,1.002123,0.693789,23.523557,0.000001,0.000016,0.000013,0.000155

In [ ]:
# 당뇨 R81 에 대한 어느정도 유의미한 edge를 회의 중 급하게 구해봤으나, rr 최대값은 2.01로 그렇게까지 높은건 아님

In [ ]:
edge_stat.loc[((edge_stat['cause_abb'] == 'R81') | (edge_stat['outcome_abb'] == 'R81')) & (edge_stat['ct11'] >= 100)].sort_values(by='rr_values', ascending=False)

,fu,cause_abb,outcome_abb,ct00,ct01,ct10,ct11,rr_values,rr_lower_cis,rr_upper_cis,log_rr_values,chisq_values,chisq_p_values,fisher_p_values,adjusted_chisq_p_values,adjusted_fisher_p_values
642832,10,R81,E11,1757,403,174,258,2.019540,1.797292,2.269272,1.105105,317.384556,5.377852e-71,3.188718e-63,8.823099e-69,4.785042e-61
552544,9,R81,E11,1776,384,178,254,1.995506,1.779902,2.237226,1.097113,324.221016,1.743778e-72,5.080395e-64,2.919483e-70,7.698601e-62
463889,8,R81,E11,1798,362,182,250,1.975824,1.766248,2.210268,1.090521,335.069519,7.562484e-75,1.848459e-65,1.311282e-72,2.902315e-63
377332,7,R81,E11,1826,334,196,236,1.863265,1.677485,2.069621,1.051963,319.642218,1.733142e-71,9.540392e-62,2.685505e-69,1.320978e-59
294328,6,R81,E11,1852,308,205,227,1.806829,1.633728,1.998272,1.032055,319.838944,1.570301e-71,4.841103e-61,2.505784e-69,6.797651e-59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157467,4,J00,R81,313015,705,62571,173,1.000511,1.000068,1.000955,0.693403,5.627932,1.767647e-02,1.830017e-02,6.349965e-02,6.482700e-02
157458,4,J06,R81,348340,725,69635,178,1.000474,1.000069,1.000879,0.693384,5.825182,1.579833e-02,1.573200e-02,5.828015e-02,5.767310e-02
230870,5,J06,R81,348108,957,69589,224,1.000468,1.000013,1.000924,0.693381,4.347567,3.706186e-02,3.478021e-02,1.135923e-01,1.058077e-01
89750,3,J06,R81,348554,511,69682,131,1.000413,1.000067,1.000759,0.693354,6.202965,1.275365e-02,1.268142e-02,4.871900e-02,4.844053e-02
89752,3,J20,R81,387883,587,77547,147,1.000382,1.000052,1.000712,0.693338,5.737917,1.660247e-02,1.723611e-02,5.979342e-02,6.124593e-02

In [31]:
approxi_rr_result.loc[((approxi_rr_result['cause_abb'] == 'R81') | (approxi_rr_result['outcome_abb'] == 'R81')) & (approxi_rr_result['fu'] == 1)].sort_values(by='rr_values', ascending=False)

,fu,cause_abb,outcome_abb,ct00,ct01,ct10,ct11,rr_values,rr_lower_cis,rr_upper_cis,log_rr_values,chisq_values,chisq_p_values,fisher_p_values,adjusted_chisq_p_values,adjusted_fisher_p_values,cause_group_num,outcome_group_num
428,1,R81,E11,2029,131,292,140,1.389726,1.300747,1.484792,0.871179,264.030090,2.270274e-59,3.223590e-46,4.563316e-57,5.477111e-44,0,40
2887,1,R81,M17,1974,186,380,52,1.038947,1.001001,1.078332,0.712434,4.664427,3.079370e-02,2.832903e-02,9.438326e-02,8.594304e-02,0,4
631,1,R81,H25,2062,98,397,35,1.038791,1.008625,1.069860,0.712357,8.679971,3.217261e-03,3.855746e-03,1.576140e-02,1.899918e-02,0,17
5875,1,E11,R81,42842,43,8522,55,1.005445,1.003710,1.007182,0.695866,107.226643,3.970628e-25,8.193844e-19,2.298093e-23,3.786240e-17,40,0
5873,1,F32,R81,19986,14,3989,11,1.002056,1.000385,1.003729,0.694174,11.564046,6.723938e-04,1.225925e-03,4.208324e-03,7.453881e-03,14,0
5872,1,G43,R81,30852,18,6161,13,1.001526,1.000348,1.002705,0.693910,12.500784,4.067813e-04,7.842493e-04,2.730939e-03,5.115748e-03,30,0
5871,1,G44,R81,39550,25,7901,14,1.001139,1.000179,1.002101,0.693717,9.053589,2.621797e-03,3.765845e-03,1.335411e-02,1.864132e-02,28,0
5869,1,M17,R81,90990,115,18185,36,1.000715,1.000029,1.001402,0.693505,5.098433,2.394747e-02,2.157590e-02,7.810579e-02,7.069832e-02,4,0
5870,1,K58,R81,95259,51,19039,23,1.000672,1.000157,1.001188,0.693483,10.063268,1.512547e-03,2.499204e-03,8.400422e-03,1.338365e-02,21,0
5874,1,J06,R81,348907,158,69764,49,1.000249,1.000041,1.000458,0.693272,6.820762,9.010412e-03,8.879097e-03,3.641753e-02,3.635234e-02,25,0

In [ ]:
# 기존 논문에서처럼 전체 엣지 중, rr이 4보다 크고, p value가 0.001 미만인 경우 확인

In [67]:
edge_stat.sort_values(by = 'rr_values', ascending = False)

,fu,cause_abb,outcome_abb,ct00,ct01,ct10,ct11,rr_values,rr_lower_cis,rr_upper_cis,log_rr_values,chisq_values,chisq_p_values,fisher_p_values,adjusted_chisq_p_values,adjusted_fisher_p_values
642819,10,E10,E11,5061,1299,198,1074,5.112121,4.495248,5.813647,1.810274,2024.087752,0.000000,0.000000,0.000000,0.000000
552531,9,E10,E11,5123,1237,205,1067,4.998049,4.406552,5.668942,1.791434,2085.112437,0.000000,0.000000,0.000000,0.000000
642820,10,H36,E11,5895,1650,245,1264,4.812245,4.288518,5.399931,1.759967,2204.388664,0.000000,0.000000,0.000000,0.000000
552532,9,H36,E11,5981,1564,249,1260,4.804016,4.286065,5.384559,1.758550,2305.636059,0.000000,0.000000,0.000000,0.000000
463878,8,E10,E11,5191,1169,221,1051,4.697738,4.164818,5.298848,1.740069,2117.953178,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143249,3,J03,C84,460770,20,92147,11,1.000076,1.000003,1.000149,0.693185,6.606822,0.010159,0.012414,0.040335,0.047752
143256,3,J20,O10,388459,11,77686,8,1.000075,1.000001,1.000148,0.693185,7.116080,0.007640,0.007887,0.031990,0.033299
41220,1,J03,A52,460773,17,92148,10,1.000072,1.000002,1.000141,0.693183,6.666992,0.009821,0.008898,0.039004,0.036407
215790,4,J03,C75,460780,10,92150,8,1.000065,1.000003,1.000127,0.693180,8.100264,0.004426,0.005338,0.020623,0.024584
41208,1,J03,S34,460780,10,92150,8,1.000065,1.000003,1.000127,0.693180,8.100264,0.004426,0.005338,0.020501,0.024504

In [ ]:
ex = edge_stat.copy(deep = True)

In [74]:
ex['hard_rr'] = (ex['ct11']/(ex['ct10'] + ex['ct11'])) / (ex['ct01']/(ex['ct00'] + ex['ct01']))

In [79]:
node_base.loc[node_base['node_code'].isin(['A09', 'G35'])]

,node_code,width,height,Korean,English
12,A09,0.986521,0.989048,감염성 및 상세불명 기원의 기타 위장염 및 결장염,Other gastroenteritis and colitis of infectiou...
1030,G35,0.154170,0.167650,다발성 경화증,Multiple sclerosis

In [90]:
row = ex.iloc[0, :]

In [86]:
matrix(rev(unlist(row)), nrow = 2, byrow = TRUE)

NameError: name 'matrix' is not defined

In [77]:
ex[['cause_abb', 'outcome_abb', 'ct00', 'ct01', 'ct10', 'ct11', 'rr_values', 'hard_rr', 'rr_lower_cis', 'rr_upper_cis']]

,cause_abb,outcome_abb,ct00,ct01,ct10,ct11,rr_values,hard_rr,rr_lower_cis,rr_upper_cis
0,N96,Z34,119,11,7,19,3.400000,8.636364,1.801018,6.418592
1,O21,Z34,1368,162,158,148,1.731646,4.567901,1.551574,1.932616
2,O20,Z34,4388,517,508,473,1.727559,4.574468,1.625097,1.836481
3,O98,Z34,84,6,11,7,1.527273,5.833333,1.052162,2.216923
4,Z33,Z34,111,9,15,9,1.480000,5.000000,1.081106,2.026073
...,...,...,...,...,...,...,...,...,...,...
734455,K58,O73,95293,17,19051,11,1.000399,3.235294,1.000047,1.000751
734456,B37,O73,46328,27,9257,14,1.000929,2.592593,1.000107,1.001752
734457,A09,G35,143297,8,28654,7,1.000188,4.375000,1.000003,1.000374
734458,Z34,P59,45789,21,9146,16,1.001290,3.809524,1.000411,1.002170
734459,H65,Q35,73201,14,14634,9,1.000424,3.214286,1.000010,1.000838

In [ ]:
target_nodes = node_base[node_base['Korean'].str.contains('비만')]['node_code'].tolist()
target_nodes

['E66']

In [ ]:
target_nodes = node_base[node_base['Korean'].str.contains('비만')]['node_code'].tolist()
target_nodes

['E66']

In [95]:
edge_stat.loc[(edge_stat['cause_abb'] == 'J03') & (edge_stat['outcome_abb'] == 'J20')]

,fu,cause_abb,outcome_abb,ct00,ct01,ct10,ct11,rr_values,rr_lower_cis,rr_upper_cis,log_rr_values,chisq_values,chisq_p_values,fisher_p_values,adjusted_chisq_p_values,adjusted_fisher_p_values
325,1,J03,J20,378609,82181,70039,22119,1.081138,1.076962,1.085329,0.732915,1907.643789,0.0,0.0,0.0,0.0
41597,2,J03,J20,331983,128807,58299,33859,1.138898,1.132947,1.144880,0.760291,2855.139058,0.0,0.0,0.0,0.0
129016,3,J03,J20,296307,164483,49402,42756,1.199575,1.191946,1.207253,0.788264,3750.768283,0.0,0.0,0.0,0.0
197228,4,J03,J20,267103,193687,42567,49591,1.254977,1.245737,1.264285,0.813140,4322.668497,0.0,0.0,0.0,0.0
274816,5,J03,J20,240691,220099,36713,55445,1.311203,1.300234,1.322265,0.837768,4720.985049,0.0,0.0,0.0,0.0
339891,6,J03,J20,214968,245822,31690,60468,1.356693,1.343949,1.369558,0.857259,4675.345688,0.0,0.0,0.0,0.0
450053,7,J03,J20,194835,265955,27626,64532,1.410519,1.395886,1.425305,0.879842,4836.183563,0.0,0.0,0.0,0.0
539014,8,J03,J20,175504,285286,24263,67895,1.446680,1.430267,1.463282,0.894732,4602.220187,0.0,0.0,0.0,0.0
628687,9,J03,J20,158142,302648,21251,70907,1.488325,1.469908,1.506973,0.911610,4442.435614,0.0,0.0,0.0,0.0
719897,10,J03,J20,144433,316357,18917,73241,1.527018,1.506688,1.547623,0.927040,4317.393470,0.0,0.0,0.0,0.0